.project-preview-title {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}

.project-preview-desc {
  position: fixed;
  top: 35%;
  right: -50px;
  transform: translateY(-50%);
  font-size: 40px;
  font-weight: 50;
  line-height: 1.2;
  color: #ffffff;
  width: 400px;
}

.project-halo {
  position: fixed;
  bottom: -10px;
  right: 0px;
  width: 100px;
  height: 150px;
  border-radius: 20%;
  filter: blur(70px);
  opacity: 0.4;
  pointer-events: none;
  z-index: -1;
}

/* ── MOBILE UNIQUEMENT ───────────────────── */
@media (max-width: 768px) {

  .project-preview-desc {
    top: auto;
    bottom: calc(45vh + 150px);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 85vw;
    font-size: 22px;
    text-align: center;
  }

  .project-preview-title {
    display: none;
  }

  .project-halo {
    bottom: auto;
    right: auto;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.2;
  }
}