.project-preview-title {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}

.project-preview-desc {
  position: fixed;
  top: 35%;
  right: -50px;
  transform: translateY(-50%);
  font-size: 40px;
  font-weight: 50;
  line-height: 1.2;
  color: #ffffff;
  width: 400px;
}

.project-halo {
  position: fixed;
  bottom: -10px;
  right: 0px;
  width: 100px;
  height: 150px;
  border-radius: 20%;
  filter: blur(70px);
  opacity: 0.4;
  pointer-events: none;
  z-index: -1;
}